<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rock events{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'css/reset.css'
            'css/main.css'
            'css/jquery.mCustomScrollbar.min.css'
            'css/selectize.css'
            'css/jquery.fancybox.min.css'
            'css/responsive-tabs.css'
            'css/style.css' %}
            <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
        <div class="main-wrapper gradient-bg gradient-bg_light">
            <header class="l-header l-header_grad-bg">
                <div class="content">
                    <nav class="navigation cf">
                        <div><li class="logo f-l"><a href="{{ path('event_index') }}" class="logo__link logo-icon"></a></li></div>
                        <ul class="navigation__items">
                            <li class="navigation__item navigation__link_upper"><a href="{{ path('event_list') }}" class="navigation__link ">Concerts</a></li>
                            <li class="navigation__item navigation__link_upper"><a href="{{ path('group_list') }}" class="navigation__link ">Groups</a></li>
                            <li class="navigation__item navigation__link_upper"><a href="{{ path('genre_list') }}" class="navigation__link">Genre</a></li>
                            <li class="navigation__item navigation__link_upper"><a href="" class="navigation__link">Calendar</a></li>
                        </ul>
                        {% include 'cabinet_menu_item.html.twig' %}
                    </nav>
                </div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        {% block footer %}
            {{ render(controller('AppBundle:Frontend/Event:lastEvents' )) }}
            <footer class="l-footer">
                <div class="content cf">
                    <nav class="navigation navigation_dark f-l">
                        <ul class="navigation__items">
                            <li class="navigation__item"><a href="" class="navigation__link active">Home</a></li>
                            <li class="navigation__item"><a href="" class="navigation__link">Concerts</a></li>
                            <li class="navigation__item"><a href="" class="navigation__link">Groups</a></li>
                            <li class="navigation__item"><a href="" class="navigation__link">Genre</a></li>
                            <li class="navigation__item"><a href="" class="navigation__link">Calendar</a></li>
                        </ul>
                        <p class="copyright">&copy; RockEvents 2016</p>
                    </nav>
                    <ul class="contacts f-r">
                        <li class="contacts__item">
                            <a href="" class="contacts__link "><i class="contacts__icon fb-icon"></i></a>
                        </li>
                        <li class="contacts__item">
                            <a href="" class="contacts__link "><i class="contacts__icon be-icon"></i></a>
                        </li>
                        <li class="contacts__item">
                            <a href="https://github.com/stfalcon-studio/rock-events" class="contacts__link "><i class="contacts__icon gh-icon"></i></a>
                        </li>
                    </ul>
                </div>
            </footer>
        {% endblock footer %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-dropdown.js') }}"></script>
            <script src="{{ asset('js/jquery.mCustomScrollbar.min.js') }}"></script>
            <script src="{{ asset('js/jquery.mousewheel.min.js') }}"></script>
            <script src="{{ asset('js/microplugin.min.js') }}"></script>
            <script src="{{ asset('js/sifter.min.js') }}"></script>
            <script src="{{ asset('js/selectize.min.js') }}"></script>
            <script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
            <script src="{{ asset('js/jquery.fancybox.pack-min.js') }}"></script>
            <script src="{{ asset('js/jquery_responsiveTabs-min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
