{% extends 'base.html.twig' %}

{% block body %}
<div class="l-admin cf content">
    <div id="tabs-block-admin" class="cf">
        <ul  class="l-admin__list">
            <li class="l-admin__item">
                <a href="#tab-1" class="l-admin__link ">
                    <p class="l-admin__icon profile-icon-big-t"></p><span class="l-admin__head">Profile</span></a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-2" class="l-admin__link">
                    <p class="l-admin__icon concert-icon-big-t"></p><span class="l-admin__head">Next concerts</span>
                </a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-3" class="l-admin__link ">
                    <p class="l-admin__icon group-icon-big-t"></p> <span class="l-admin__head">Groups </span></a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-4" class="l-admin__link ">
                    <p class="l-admin__icon genre-icon-big-t"></p><span class="l-admin__head"> Genre</span> </a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-5" class="l-admin__link  ">
                    <p class="l-admin__icon cabinet-icon-big-t"></p><span class="l-admin__head">Manager</span> </a>
            </li>
            <button><a href="{{ path('manager_cabinet_dashboard') }}">Кабінет менеджера</a></button>
        </ul>
        {{ render(controller('AppBundle:Frontend/User:futureEvents')) }}
        {{ render(controller('AppBundle:Frontend/User:group')) }}
        {{ render(controller('AppBundle:Frontend/User:genre')) }}
        {{ render(controller('AppBundle:Frontend/User:requestRightManager')) }}
        {{ render(controller('FOSUserBundle:Profile:edit')) }}
        {{ render(controller('AppBundle:Frontend/Manager:addEvent')) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/group.js') }}"></script>
    <script src="{{ asset('js/genre.js') }}"></script>
{% endblock %}

