{% extends 'base.html.twig' %}

{% block header %}
    <header class="l-header l-header_bg-style">
        <div class="content">
            <nav class="navigation cf">
                <ul class="navigation__items">
                    <li class="logo f-l"><a href="{{ path('event_index') }}" class="logo__link logo-icon"></a></li>
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('event_list') }}" class="navigation__link">Concerts</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('group_list') }}" class="navigation__link">Groups</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="{{ path('genre_list') }}" class="navigation__link">Genre</a></li>
                    <li class="navigation__item navigation__link_upper"><a href="" class="navigation__link">Calendar</a></li>
                    <li class="navigation__item f-r"><a href="{{ path('user_cabinet_group') }}" class=" button button_list-item">My account</a></li>
                </ul>
            </nav>
            <h1 class="l-header__h">Rock concerts in your city.</h1>
            <span class="l-header__text">Find concerts</span>
            <i id="arrowSort" class="l-header__arrow arrow-icon"></i>
        </div>
    </header>
{% endblock %}
