<div id="tab-manager-3" class="scroll">
    <table class="tabs-list">
        <thead class="tabs-list__header">
            <tr class="tabs-list__row">
                <td class="tabs-list__td">Назва</td>
                <td class="tabs-list__td">Країна, Місто</td>
                <td class="tabs-list__td">Адреса</td>
                <td class="tabs-list__td">Початок</td>
                <td class="tabs-list__td"></td>
            </tr>
        </thead>
        <tbody class="tabs-list__body">
            {% for event in events %}
                <tr class="tabs-list__row">
                    <td class="tabs-list__td">
                        <a href="{{ path('event_show',{ 'slug' : event.slug })}}" class="tabs-list__link">{{ event.name }}</a>
                    </td>
                    <td class="tabs-list__td">{{ event.country }}, {{ event.city }}</td>
                    <td class="tabs-list__td">{{ event.address }}</td>
                    <td class="tabs-list__td">{{ event.beginAt|localizeddate('full', 'none', app.request.locale) }}</td>
                    <td class="tabs-list__td">
                        <a href="{{ path('manager_cabinet_event_update', { 'slug': event.slug }) }}" class="tabs-list__link">Змінити</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('manager_cabinet_event_create')}}">
        <button class="profile-form__submit" style="margin-top: 30px">Створити подію</button>
    </a>
</div>

