{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список коцертів {{ eventGroups[0].nameGroup }}</h1>
    <table>
        <thead>
        <tr>
            <th>Назва події</th>
            <th>Опис</th>
            <th>Місто</th>
            <th>Початок</th>
        </tr>
        </thead>
        <tbody>
        {% for eventGroup in eventGroups  %}
            <tr>
                <td>{{ eventGroup.name }}</td>
                <td>{{ eventGroup.description }}</td>
                <td>{{ eventGroup.city }}</td>
                <td>{{ eventGroup.beginAt|date('F jS \\a\\t g:ia') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}