{% extends 'base.html.twig' %}

{% block body %}
<div class="l-admin cf content">
    <div id="tabs-block-admin" class="cf">
        <ul class="l-admin__list">
            <li class="l-admin__item">
                <a href="#tab-1" class="l-admin__link ">
                    <p class="l-admin__icon profile-icon-big-t"></p><span class="l-admin__head">Профіль</span>
                </a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-2" class="l-admin__link">
                    <p class="l-admin__icon concert-icon-big-t"></p><span class="l-admin__head">Майбутні концерти</span>
                </a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-3" class="l-admin__link ">
                    <p class="l-admin__icon group-icon-big-t"></p> <span class="l-admin__head">Гурти</span></a>
            </li>
            <li class="l-admin__item">
                <a href="#tab-4" class="l-admin__link ">
                    <p class="l-admin__icon genre-icon-big-t"></p><span class="l-admin__head"> Жанри</span> </a>
            </li>
            {% if is_granted('ROLE_MANAGER') == false %}
                <li class="l-admin__item">
                    <a href="#tab-5" class="l-admin__link  ">
                        <p class="l-admin__icon cabinet-icon-big-t"></p><span class="l-admin__head">Менеджер</span> </a>
                </li>
            {% endif %}
        </ul>
        {{ render(controller('AppBundle:Frontend/User:futureEvents')) }}
        {{ render(controller('AppBundle:Frontend/User:group')) }}
        {{ render(controller('AppBundle:Frontend/User:genre')) }}
        {% if is_granted('ROLE_MANAGER') == false %}
            {{ render(controller('AppBundle:Frontend/User:requestRightManager')) }}
        {% endif %}
        {{ render(controller('FOSUserBundle:Profile:edit')) }}
        {% endblock %}
        {% block footer %}
    </div>
</div>
{{ parent() }}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/group.js') }}"></script>
    <script src="{{ asset('js/genre.js') }}"></script>
{% endblock %}

