{% if events is defined %}
    <div id="tab-2" class=" scroll">
        <table class="tabs-list">
            <thead class="tabs-list__header">
                <tr class="tabs-list__row">
                    <td class="tabs-list__td">№</td>
                    <td class="tabs-list__td">Назва</td>
                    <td class="tabs-list__td">Місто</td>
                    <td class="tabs-list__td">Адреса</td>
                    <td class="tabs-list__td">Початок о</td>
                </tr>
            </thead>
            <tbody class="tabs-list__body">
                {% for event in events %}
                    <tr class="tabs-list__row">
                        <td class="tabs-list__td">{{ loop.index }}</td>
                        <td class="tabs-list__td"><a href="{{ path('event_show', { 'slug': event.slug }) }}" class="tabs-list__link">{{ event.name }}</a></td>
                        <td class="tabs-list__td">{{ event.city }}</td>
                        <td class="tabs-list__td">{{ event.address }}</td>
                        <td class="tabs-list__td">{{ event.beginAt|localizeddate('full', 'none', app.request.locale) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
