<div id="tab-5" class="scroll">
    <section class="l-profile ">
        {% if is_granted('ROLE_MANAGER') %}
            {{ render(controller('AppBundle:Frontend/Manager:dashboard')) }}
        {% else %}
            <span class="profile-form__list">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                {% include ':form:group.html.twig' with { action: 'request_manager' } %}
                <div class="center-align">
                    <button type="submit" class="profile-form__submit">Залишити заявку</button>
                </div>
                </span>
            {{ form_end(form) }}
        {% endif %}
    </section>
</div>
