{% extends 'cabinet.html.twig' %}

{% block body %}
    {{ parent() }}
<div id="tab-5" class="scroll">
    <section class="l-profile ">
        <span class="profile-form__list">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_rest(form) }}
                {% include ':form:group.html.twig' with { action: 'request_manager' } %}
            <div class="center-align">
                <button type="submit" class="profile-form__submit">Залишити заявку</button>
            </div>
            {{ form_end(form) }}
        </span>
    </section>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/add_groups.js') }}"></script>
{% endblock %}
