{% extends 'base.html.twig' %}

{% block body %}
    <h1>Список Гуртів</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Рік створення</th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table table-hover">
        {% for group in groups %}
            <tr>
                <td><a href="{{ path('group_show',{ 'slug' : group.slug }) }}">{{ group.name }}</a></td>
                <td>{{ group.description }}</td>
                <td>{{ group.foundedAt|date("Y") }}</td>
                {% if app.user %}
                    {% if group in userGroups %}
                        <td>
                            {#<a href="{{ path('group_delete_from_bookmark', { 'slug' : group.slug }) }}">-</a>#}
                            <button href="#" class="amend-minus"
                                    data-group-path="{{ path('group_delete_from_bookmark', { 'slug' : group.slug,}) }}"
                                    type="button">
                                -
                            </button>
                            <button href="#" class="amend-plus"
                                    data-group-path="{{ path('group_add_to_bookmark', { 'slug' : group.slug}) }}"
                                    type="button"
                                    style="display: none;">
                                +
                            </button>
                        </td>
                    {% else %}
                        <td>
                            {#<a href="{{ path('group_add_to_bookmark',{ 'slug' : group.slug }) }}"><b>+</b></a>#}
                            <button href="#" class="amend-plus"
                                    data-group-path="{{ path('group_add_to_bookmark', { 'slug' : group.slug}) }}"
                                    type="button">+
                            </button>
                            <button href="#" class="amend-minus"
                                    data-group-path="{{ path('group_delete_from_bookmark', { 'slug' : group.slug,}) }}"
                                    type="button"
                                    style="display: none;">-
                            </button>
                        </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/group.js') }}"></script>
{% endblock %}
