{% extends 'main.html.twig' %}

{% block body %}
    <div id="sort" class="l-sort gradient-bg gradient-bg_medium cf">
        <div class="content cf">
            <div id="everything" class="l-sort__items_big l-sort__items">
                <div class="l-sort__header">Всі жанри</div>
                <ul class="l-sort__list l-sort__everything setScroll">
                    <li class="l-sort__item">
                        <input type="radio" name="music-style" class="l-sort__but" value="" id="styleAll" checked>
                        <label for="styleAll" class="l-sort__label">Всі категорії</label>
                    </li>
                    {% for genre in genres %}
                        <li class="l-sort__item">
                            <input type="radio" name="music-style" class="l-sort__but" value="{{ genre.id }}" id="style{{ genre.id }}">
                            <label for="style{{ genre.id }}" class="l-sort__label">{{ genre.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="everywhere" class="l-sort__items_small l-sort__items  f-l">
                <div class="l-sort__header l-sort__header_spec">Всі міста</div>
                <ul class="l-sort__list l-sort__list_spec setScroll">
                    <li class="l-sort__item">
                        <input type="radio" name="city" class="l-sort__but" value="" id="cityAll" checked>
                        <label for="cityAll" class="l-sort__label">Всі міста</label>
                    </li>
                    {% for city in cities %}
                        <li class="l-sort__item">
                            <input type="radio" name="city" class="l-sort__but" value="{{ city.name }}" id="city{{ city.id }}">
                            <label for="city{{ city.id }}" class="l-sort__label">{{ city.name }}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="allTime" class="l-sort__items_medium l-sort__items f-r">
                <div class="l-sort__header">За весь час</div>
                <ul class="l-sort__list l-sort__allTime setScroll">
                    <li class="l-sort__item">
                        <input type="radio" name="date" class="l-sort__but" value="" id="timeAll" checked>
                        <label for="timeAll" class="l-sort__label">Всі концерти</label>
                    </li>
                    <li class="l-sort__item">
                        <input type="radio" name="date" class="l-sort__but" value="today" id="timeTo">
                        <label for="timeTo" class="l-sort__label">За сьогодні</label>
                    </li>
                    <li class="l-sort__item">
                        <input type="radio" name="date" class="l-sort__but" value="week" id="timeWe">
                        <label for="timeWe" class="l-sort__label">За тиждень</label>
                    </li>
                    <li class="l-sort__item">
                        <input type="radio" name="date" class="l-sort__but" value="month" id="timeMo">
                        <label for="timeMo" class="l-sort__label">За місяць</label>
                    </li>
                    <li class="l-sort__item">
                        <input type="radio" name="date" class="l-sort__but" value="year" id="timeYe">
                        <label for="timeYe" class="l-sort__label">За рік</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="l-events">
        <div class="content">
            <ul id="event-ul" class="event-list event-list_normal">
                {{ render(controller('AppBundle:Frontend/Event:listMainEvent', { 'events': events } )) }}
            </ul>
        </div>
        <div id="show_concert" class="button button_big"><p class="button__icon icon_show-t">Показати 3</p></div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/filter_main_page.js') }}"></script>
    <script src="{{ asset('js/loading_concert.js') }}"></script>
{% endblock %}
