{% extends 'base.html.twig' %}

{% block body %}
    <div class="recommended-concert" style="float: left; width: 20%;">
        {{ render(controller('AppBundle:Frontend/Event:recommendedConcerts', { 'event' : event, 'group' : groups[0] } )) }}
    </div>
    <ul class="list-group" style="float: right; width: 80%;">
        <li class="list-group-item"><b>Назва:</b> {{ event.name }}</li>
        <li class="list-group-item"><b>Опис</b>: {{ event.description }}</li>
        <li class="list-group-item"><b>Країна:</b> {{ event.country }}</li>
        <li class="list-group-item"><b>Місто:</b> {{ event.city }}</li>
        <li class="list-group-item"><b>Адреса:</b> {{ event.city }}</li>
        <li class="list-group-item"><b>Початок:</b> {{ event.beginAt|date('F jS \\a\\t g:ia') }}</li>
        <li class="list-group-item"><b>Кінець:</b> {{ event.endAt|date('F jS \\a\\t g:ia') }}</li>
        <li class="list-group-item"><b>Тривалість:</b> {{ event.duration }}</li>
        <li class="list-group-item">
            <b>Гурти:</b>
            <ul class="list-group">
                {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{{ path("group_show", { "slug":group.slug }) }}">{{ group.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
